/* Retail store Main CSS */ 
html, body {
    height:100%;
}

body {
    padding-top: 60px;
}

/* 404 */
.big-text {
    font-size: 170px;
    line-height: 180px;
    color: rgb(153, 153, 153);
}

/* Cart */
.tcart td img {
    max-height: 50px;    
}

.tcart .cart-quantity input:focus {
    border-color: rgb(52, 152, 219);
}

.tcart .input-group {
    /*display: inline-block;*/
    max-width: 140px;
}

/* Confirmation */
.confirmation-link-p a {
    margin: 0 10px;
}

/* Contact */
.head-block {
    width: 100%;
    padding: 20px 0px;
    box-shadow: inset 0px 0px 4px #bbb;
    /*background: #f8f8f8;*/
    color: white;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;    
}

.head-block h2 {
}

/* Support */
#slist {
    margin-left: 15px;
}

#slist li {
    margin: 0 0 10px 0;
}

#slist li a {
    margin: 0 0 10px 0;
}

#slist p {
    display: none;
    margin: 5px 0px;
    padding: 10px 20px;  
    line-height: 25px;
    border: 1px solid rgb(220, 228, 236);
    /*border-radius: 3px;*/
}

/* Background images for pages */
.head-contact {
    background: url("../img/front/start-1.jpg") center no-repeat;
}

.head-general {
    background: url("../img/front/start-3.jpg") center no-repeat;
}

#filterinput {
    margin-left: 55px;
}

#filterinput:focus {

}

.head-support {
    background: url("../img/front/start-2.jpg") center no-repeat;
}

.gmap iframe {
    width: 100%;
}

textarea {
    z-index: 100;
}

/* Font */
form input[type="text"], 
form input[type="password"],
form input[type="email"],
select {
    /*font-size: 19px;*/
}

/* Carbon Ads */
.carbonad {
    display: block;
    background: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(253, 253, 253)) repeat scroll 0% 0% rgb(253, 253, 253);
    border: 1px solid rgb(213, 213, 213);
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 15px;
    overflow: hidden;
    width: 100% !important;
    height: auto;    
}

/* account */
.menu {
    list-style: none;
    padding-left: 0;
    background-color: rgb(236, 240, 241);
    width: 100%;
}

.menu li a:hover {
    background-color:  rgb(216, 230, 231);
}

.menu li a {
    display: block;
    padding: 10px 10px 10px 20px;
    color: rgb(44, 62, 80);
    text-decoration: none;
}

.menu > li > a {
    border-bottom: 1px solid #ecf0f1;
    border-left: 3px solid rgb(24, 188, 156);
}

.menu li.has-sub ul {
    list-style: none;
    padding-left: 0;
    display: none;
}

.menu li.has-sub ul a {
    padding-left: 40px;
}
.menu li.has-sub ul a {
    text-decoration: none;
}

.menu .li.has-sub > span.plus:before {
    content: "\2b";
}
/* Items */
.sidebar-item {
    /*border: 1px solid black;*/
}

.items-title {
    font-size: 19px;
    line-height: 21px;
}

.sidebar-item img {
    max-width: 50px;
    margin-top: 5px;
    margin-right: 5px;
    height: auto;
    float: left;
}

/* Modals */
.modal {
    top: 10%;    
}

/*.modal-content {
    background-color: rgb(24, 188, 156);    
}

.modal-header {    
}

.modal-body {
    background-color:  rgb(255,255,255);
}

.modal-footer {
    background-color:  rgb(255,255,255);
    border-radius: 0 0 6px 6px;
}

.modal-title {
    background-color: rgb(24, 188, 156);    
    color: #fff;
}*/

.modal-footer {
    margin-top: -15px;
}

/* Nav bar */
.navbar {
    font-size: 19px;
}

.navbar .dropdown-menu {
    font-size: 19px;    
}

.navbar-retail-collapse {

}

/* Search input */
.search-container {
    position: relative;
}

.navbar-retail-collapse #search {
}

form[name="search-form"] {
    position: relative;
    padding: 0;
    /*max-width: 280px;*/
}

form[name="search-form"]:focus {
    /*width: 400px;*/
    /*width: max-content;*/
}

form[name="search-form"] > input[type="text"] {
    padding-left: 36px;
    font-size: 19px;    
}

form[name="search-form"] > .glyphicon {
    position: absolute;
    left: 0;
    z-index: 20;
    padding: 10px 12px;
}

#search {
    width: 100%;
    /*border-color: rgb(18, 143, 118);*/
    transition: width 0.3s;
}

.nav li a {
    /*border: 1px solid black;*/
}

.navbar form {
    /*border: 1px solid black;*/
}

#search:focus {
    width: 100%;
}

#search-btn {
}

.navbar .dropdown-menu li a {
    padding: 10px 20px;
}

.carousel {
    height:50%;
}

.carousel-caption h3 {
    /*    background-color: rgb(20, 156, 130);
        background-color: rgba(0,0,0, 0.65);        */
}

.carousel-caption div {
}

.item,
.active,
.carousel-inner {
    height:100%;
}

.fill {
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
}

.section {
    margin: 50px 0;
}

footer {
    /*margin: 50px 0;*/
    /*width: 100%;*/
}

/*.container {
    border: 1px solid black;
}
.col-md-3{
    border: 1px solid black;
}*/

.ft {
    border-top: 8px solid rgb(20, 156, 130);    
    background-color: rgb(236, 240, 241);
    padding:  15px 0;
}

.ft-list {
    list-style: none;
    padding-left: 0;
}

.ft-list li {
    text-align: left;
}

.ft-hr {
    margin: 10px;
}

/* Blog */
.sidebar .widget {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(238, 238, 238);
    border-top: 2px solid rgb(18, 143, 118);
}

.entry {
}

.entry h3 a {
    text-decoration: none;
    color: rgb(44, 62, 80);
}
.entry .meta {
    padding: 5px 10px;
    background-color: rgb(236, 240, 241);
}

.entry .blog-img {
    margin: 10px 0px 5px;
    padding: 1px;
    box-shadow: 0px 0px 1px rgb(119, 119, 119);    
}

.entry .blog-img img {
    width: 100%;
    height: auto;
}

.entry .meta span {
    margin: 0 10px 0 5px;
}

.entry .blog-body p{
    /*background-color: rgb(236, 240, 241);*/
    text-indent: 20px;
}

.comments {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.replies {
    list-style: none;
    margin-left: 0;    
}

.comments li.comment {
    margin: 10px 0px;
    padding: 7px 10px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(221, 221, 221);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.comments .reply {

}

.comment-container img {
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Single item */
#spec table tr td:first-child {
    font-weight: bold;
}

.product-main select {
    margin-top: 5px;
    max-width: 100px;
}

.product-main .input-group {
    margin-top: 10px;
    max-width: 140px;
}

#product-carousel img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    height: 400px;
    width: auto;
}

#product-carousel .carousel-control {
    background-image: none;
    color: rgb(44, 62, 80);
    text-decoration: none;
    outline: none;
}

#product-carousel .carousel-control span {
}

/* Main */
.totop {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
}

.totop a, .totop a:visited{
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: rgb(24, 188, 156);
}

.totop a:hover {
    color: #fff;
    text-decoration: none;
}

/* Item */

.items-ct .row{
    margin-bottom: 20px;
}

.items-ct .breadcrumb {
    background: transparent;
    border: 0px solid #eee;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 10px 0px;
    border-radius: 0px;
    border-bottom: 1px solid #f3f3f3;
}

.item-ct{
    min-height: 280px;
    /*max-height: 300px;*/
    /*max-width: 250px;*/
    margin: 10px auto;
    padding: 10px 10px;
    border: 1px solid #f3f3f3;
    box-shadow: inset 0px 0px 1px #ddd;
    -webkit-transition:box-shadow 1s ease;
    -moz-transition:box-shadow 1s ease;
    -o-transition:box-shadow 1s ease;
    transition:box-shadow 1s ease;
}

.item-ct:hover{
    box-shadow: inset 0px 0px 5px #ccc;
    -webkit-transition:box-shadow 1s ease;
    -moz-transition:box-shadow 1s ease;
    -o-transition:box-shadow 1s ease;
    transition:box-shadow 1s ease;	
}

.item-ct .ico{
    color: #fff;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-left: 5px;
}

.item-ct hr{
    margin: 5px 0px;
}

.item-ct-image {
}

.item-ct .item-ct-image img {
    padding: 5px 0px;
    height: 180px;    
    width: auto;
    display: block;
    margin: 0 auto;
}

.item-ct .item-details h5{
    text-align: center;
}

.item-ct .item-details h5 a{
    color: #666;
}

.item-ct .item-details h5 a:hover{
    text-decoration: none;
}

.item-ct .item-details p{
    text-align: center;
}

.item-ct .item-price{
    margin: 7px 0px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 5px !important;
    line-height: 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background: #f3f3f3;
    border: 1px solid #eee;
    box-shadow: inset 0px 0px 1px #888;
}

.best-deals {
}

.best-deal img {
    height: 180px; 
    width: auto; 
    float:left;
    margin-right: 20px; 
}

.best-deal p {    
}

.recent {
    padding: 0px 0px;
    margin: 15px 0;
}

.control-container .carousel-control {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgb(24, 188, 156);
    opacity: 1;
    /*float: right;*/
    z-index: 100;
    top: auto;
    bottom: auto;
    left: auto;
    position: relative;
    border-radius: 3px;
}

.recent .control-container {
    position: relative;
}

.recent-item {
}

.recent .carousel .item .col-md-3:first-child {
    /*padding-left: 0;*/
}

.recent .carousel .item .col-md-3:last-child {
    /*padding-right: 0;*/
}

.recent-item-img {
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    padding: 10px 0px;
    box-shadow: 0px 0px 3px rgb(221, 221, 221) inset;
    border: 1px solid rgb(238, 238, 238);
}

.recent-item-img img { 
    height: 180px;
    width: auto;    
}

.recent-item-details {
    background: none repeat scroll 0% 0% rgb(24, 188, 156);
    border-top: 1px solid rgb(18, 143, 118);
    border-bottom: 1px solid rgb(18, 143, 118);
    color: rgb(255, 255, 255);
    padding: 7px 10px 10px;
}

.recent-item-details a {
    color: rgb(255, 255, 255);
}

/* Footer */
.copy {
    font-size: 12px;
    text-align: center;
}

/* Icons */

/* Social */
.social{
    font-size:16px;
    margin: 5px 0px;
}

.social i{
    box-shadow:inset 0px 0px 1px #333;
    height:25px;
    width:25px;
    line-height:25px;
    margin:0px 5px 0px 0px;
    border-radius:3px;
    color:#fff;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
    text-align:center;
}

.social-2x {
    /*font-size: 30px;*/
    margin: 10px 0;
}

.social-2x i {
    height: 50px;
    width: 50px;
    padding-top: 12px;
}

.social i.facebook{
    background:#3c5b9b;
}

.social i.twitter{
    background:#2daae1;
}

.social i.google-plus{
    background:#f63e28;
}

i.pinterest{
    background:#cb2027;
}

.social i.linkedin{
    background:#0173b2;
}

.social i:hover{
    background:#000;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}

.social a,.social a:visited,.social a:hover{
    color:#fff;
    text-decoration:none;
}

/* Posts */
.posts .social{
    font-size:16px;
}

.posts .social i{
    box-shadow:inset 0px 0px 1px #333;
    height:25px;
    width:25px;
    line-height:25px;
    margin:0px 5px 0px 0px;
    border-radius:3px;
    color:#fff;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
    text-align:center;
}

.posts i.facebook{
    background:#3c5b9b;
}

.posts i.twitter{
    background:#2daae1;
}

.posts i.google-plus{
    background:#f63e28;
}

.posts i.pinterest{
    background:#cb2027;
}

.posts i.linkedin{
    background:#0173b2;
}

.posts .social i:hover{
    background:#000;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}

.posts .social a,.posts .social a:visited,.posts .social a:hover{
    color:#fff;
    text-decoration:none;
}

.posts .tags a{
    display:inline-block;
    font-weight:normal;
    padding:0px 5px;
    color:#fff;
    border-radius:4px;
    font-size:13px;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}

.posts .tags a:hover{
    color:#fff;
    text-decoration:none;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}


@media (min-width: 768px) {

    #search {
        width: 80%;   
    }

}