html, body {
    height:100%;
}

.carousel {
    height:50%;
}

.item,
.active,
.carousel-inner {
    height:100%;
}

.fill {
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
}

.section {
    margin: 50px 0;
}

footer {
    /*margin: 50px 0;*/
}

/*.container {
    border: 1px solid black;
}
.col-md-3{
    border: 1px solid black;
}*/

.ft {
    border-top: 8px solid rgb(20, 156, 130);    
    background-color: rgb(236, 240, 241);
    padding:  15px 0;
}

.ft-list {
    list-style: none;
    padding-left: 0;
}

.ft-list li {
    text-align: left;
}

.ft-hr {
    margin: 10px;
}

widget {

}

.totop {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
}

.totop a, .totop a:visited{
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: rgb(24, 188, 156);
}

.totop a:hover {
    color: #fff;
    text-decoration: none;
}

/* Item */

.items-ct{
    margin: 20px 0px;
}

.items-ct .breadcrumb{
    background: transparent;
    border: 0px solid #eee;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 10px 0px;
    border-radius: 0px;
    border-bottom: 1px solid #f3f3f3;
}

.item-ct{
    min-height: 280px;
    /*max-height: 300px;*/
    max-width: 250px;
    margin: 10px auto;
    padding: 10px 10px;
    border: 1px solid #f3f3f3;
    box-shadow: inset 0px 0px 1px #ddd;
    -webkit-transition:box-shadow 1s ease;
    -moz-transition:box-shadow 1s ease;
    -o-transition:box-shadow 1s ease;
    transition:box-shadow 1s ease;
}

.item-ct:hover{
    box-shadow: inset 0px 0px 5px #ccc;
    -webkit-transition:box-shadow 1s ease;
    -moz-transition:box-shadow 1s ease;
    -o-transition:box-shadow 1s ease;
    transition:box-shadow 1s ease;	
}

.item-ct .ico{
    color: #fff;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-left: 5px;
}

.item-ct hr{
    margin: 5px 0px;
}

.item-ct .item-image{
    max-height: 150px;
}

.item-ct .item-image img{
    padding: 5px 0px;
    height: 140px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.item-ct .item-details h5{
    text-align: center;
}

.item-ct .item-details h5 a{
    color: #666;
}

.item-ct .item-details h5 a:hover{
    text-decoration: none;
}

.item-ct .item-details p{
    text-align: center;
}

.item-ct .item-price{
    margin: 7px 0px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 5px !important;
    line-height: 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background: #f3f3f3;
    border: 1px solid #eee;
    box-shadow: inset 0px 0px 1px #888;
}

/* Footer */
.copy {
    font-size: 12px;
    text-align: center;
}

/* Icons */

/* Social */
.social{
    font-size:16px;
    margin: 5px 0px;
}

.social i{
    box-shadow:inset 0px 0px 1px #333;
    height:25px;
    width:25px;
    line-height:25px;
    margin:0px 5px 0px 0px;
    border-radius:3px;
    color:#fff;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
    text-align:center;
}

.social i.facebook{
    background:#3c5b9b;
}

.social i.twitter{
    background:#2daae1;
}

.social i.google-plus{
    background:#f63e28;
}

i.pinterest{
    background:#cb2027;
}

.social i.linkedin{
    background:#0173b2;
}

.social i:hover{
    background:#000;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}

.social a,.social a:visited,.social a:hover{
    color:#fff;
    text-decoration:none;
}

/* Posts */
.posts .social{
    font-size:16px;
}

.posts .social i{
    box-shadow:inset 0px 0px 1px #333;
    height:25px;
    width:25px;
    line-height:25px;
    margin:0px 5px 0px 0px;
    border-radius:3px;
    color:#fff;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
    text-align:center;
}

.posts i.facebook{
    background:#3c5b9b;
}

.posts i.twitter{
    background:#2daae1;
}

.posts i.google-plus{
    background:#f63e28;
}

.posts i.pinterest{
    background:#cb2027;
}

.posts i.linkedin{
    background:#0173b2;
}

.posts .social i:hover{
    background:#000;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}

.posts .social a,.posts .social a:visited,.posts .social a:hover{
    color:#fff;
    text-decoration:none;
}

.posts .tags a{
    display:inline-block;
    font-weight:normal;
    padding:0px 5px;
    color:#fff;
    border-radius:4px;
    font-size:13px;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}

.posts .tags a:hover{
    color:#fff;
    text-decoration:none;
    -webkit-transition:background 1s ease;
    -moz-transition:background 1s ease;
    -o-transition:background 1s ease;
    transition:background 1s ease;
}
